## Integers

In [1]:
print (10)
type(10)

10

int

In [2]:
print (int(10.9))

10

In [3]:
print (int('Data Science'))

ValueError: invalid literal for int() with base 10: 'Data Science'

## Floats

In [4]:
print (3.00)
type(3.00)

3.0

float

In [5]:
print (float(3))

3.0

In [6]:
print (float('Data Science'))

ValueError: could not convert string to float: 'Data Science'

## Operators

In [7]:
print(1 + 2.0)
print(4 - 2)
print(2 * 2)
print(1 / 2)
print(2 ** 2)
print(11 % 2)
print(11 // 2)

3.0
2
4
0.5
4
1
5

In [8]:
print(True)
print(not True)
print(False)
print(not False)

True
False
False
True

In [9]:
True and False

False

In [10]:
True or False

True

In [13]:
print (1 > 2)
print (1 < 2)
print (1 >= 2)
print (1 <= 2)
print (1 != 2)
print (1 == 2)

False

## Strings

In [14]:
print("D1@#$%^_~~K")
type("D1@#$%^_~~K")

D1@#$%^_~~K

str

In [15]:
print('D1@#$%^_~~K')

D1@#$%^_~~K

In [16]:
print('Have you seen Instagram's' new update?')

SyntaxError: invalid syntax (<ipython-input-16-73fbdbd0b532>, line 1)

In [17]:
print("Have you seen Instagram's new update?")

Have you seen Instagram's new update?

In [47]:
s = 'Hello World'

In [23]:
len(s)

11

In [27]:
# indexing
s[10]

'd'

In [29]:
# slicing
s[2:8]

'llo Wo'

In [50]:
# replacing
s = s.replace('World', 'Mars')

In [51]:
s

'Hello Mars'

## Lists

In [38]:
[1,2,'_','a', '', ' ']

[1, 2, '_', 'a', '', ' ']

In [66]:
myList = [1,2,'_','a']
type(myList)

list

In [52]:
# indexing
print([1,2,'_','a'])

print (myList[1])
print (myList[3])
print (myList[4])

[1, 2, '_', 'a']
2
a

IndexError: list index out of range

In [53]:
# slicing
myList[1:3]

[2, '_']

In [61]:
myList[:1]

[1, 2]

In [63]:
print (len([1,2,'_','a']))
print (len(myList))

4
4

In [67]:
# mutable
print (myList)
myList.pop()
print (myList)
myList.pop(1)
print (myList)
myList.append('x')
print (myList)
myList.insert(0, 'y')
print (myList)
myList.remove('y')
print (myList)

[1, 2, '_', 'a']
[1, 2, '_']
[1, '_']
[1, '_', 'x']
['y', 1, '_', 'x']
[1, '_', 'x']

## Tuples

In [72]:
(1,'a', [1,2,3], 2.3)

(1, 'a', [1, 2, 3], 2.3)

In [69]:
1,2

(1, 2)

In [73]:
myTuple = 1,2,3

In [71]:
print (myTuple)
type(myTuple)

(1, 2, 3)

tuple

In [74]:
print (myTuple[0])
print (myTuple[1])

print ((1,2,3)[0])
print ((1,2,3)[1])

1
2
1
2

In [75]:
myTuple[1:3]

(2, 3)

In [77]:
print(len((1,2,3)))
print(len(myTuple))

3
3

In [78]:
myTuple.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [79]:
myTuple.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [80]:
myTuple.remove(1)

AttributeError: 'tuple' object has no attribute 'remove'

In [81]:
myTuple.insert(0, 5)

AttributeError: 'tuple' object has no attribute 'insert'

## Dictionaries

In [82]:
myDict = {'Name': 'Jane Doe',
          'Age': 18,
          'Address': 'Seattle, WA',
          'Classes': ['Stats 101', 'Chinese', 'Cultural Anthropology']}
print (myDict)
type(myDict)

{'Name': 'Jane Doe', 'Age': 18, 'Address': 'Seattle, WA', 'Classes': ['Stats 101', 'Chinese', 'Cultural Anthropology']}

dict

In [83]:
print (myDict['Name'])
print (myDict['Classes'])

Jane Doe
['Stats 101', 'Chinese', 'Cultural Anthropology']

In [84]:
len(myDict)

4

In [85]:
print (myDict.keys())
print (myDict.values())

dict_keys(['Name', 'Age', 'Address', 'Classes'])
dict_values(['Jane Doe', 18, 'Seattle, WA', ['Stats 101', 'Chinese', 'Cultural Anthropology']])

In [86]:
myDict['Class year'] = 'Freshman'
myDict

{'Address': 'Seattle, WA',
 'Age': 18,
 'Class year': 'Freshman',
 'Classes': ['Stats 101', 'Chinese', 'Cultural Anthropology'],
 'Name': 'Jane Doe'}

In [87]:
myDict2 = {1: 'Jane Doe',
          2: 18,
          3: 'Seattle, WA',
          4: ['Stats 101', 'Chinese', 'Cultural Anthropology']}
myDict2[1]

'Jane Doe'

## Concatenating

In [89]:
s1 = 'Hi'
s2 = " there"

s1 + s2

'Hi there'

In [93]:
num = 4.0

print ('Can I get a ' + str(num) + ' on the menu?')

Can I get a 4.0 on the menu?

In [95]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]

list3 = list1 + list2
list3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## If statements and if...else statements

In [112]:
if 2 > 1 or 5 < 3:
    print ('2 is greater than 1.')

2 is greater than 1.

In [97]:
if 2 < 1 and : 
    print ('2 is less than 1.')
else: 
    print ('2 is not less than 1.')
    

if ---: 
    jjj
elif -----:
    ggg
else:
    gg

IndentationError: expected an indented block (<ipython-input-97-84edb17520dd>, line 2)

## For Loops

In [115]:
myList2 = [1,2,3,6,7]

for i in myList2:
    print ("Dami" + str(i))

Dami1
Dami2
Dami3
Dami6
Dami7

In [102]:
for i in myList2:
    if i%2 == 0: #if the element is odd
        print (i)

2
6

## Functions

In [107]:
def myfunct(x):
    return x**2

In [110]:
myfunct(4)

16