### For Loops

In [1]:
europe = ['Hungary', 'France', 'Sweden', 'Czech', 'Portugal', 'Belarus']
asia = ['Japan', 'Nepal', 'Thailand', 'Laos', 'Pakistan', 'Mongolia', 'Cambodia']
africa = ['Niger', 'Botswana', 'Gabon', 'Comoros', 'Burundi', 'Tunisia', 'Chad', 'Ethiopia', 'Senegal']

In [2]:
for i,j,k in zip(europe, asia, africa):
    print (i + ' | ' + j + ' | ' + k)

Hungary | Japan | Niger
France | Nepal | Botswana
Sweden | Thailand | Gabon
Czech | Laos | Comoros
Portugal | Pakistan | Burundi
Belarus | Mongolia | Tunisia

In [3]:
for i,x in enumerate(europe):
    print (i, x)

0 Hungary
1 France
2 Sweden
3 Czech
4 Portugal
5 Belarus

### Functions - Positional vs Keyword Arguments

In [4]:
def info(firstname, lastname, phone):
    print("First name: %s" % firstname.title())
    print("Last name: %s" % lastname.title())
    print("Age: %d" % phone)

In [5]:
info('tyrion', 'lannister', 1234567890)

First name: Tyrion
Last name: Lannister
Age: 1234567890

In [6]:
# Positional argument
info(1234567890, 'lannister', 'tyrion')

AttributeError: 'int' object has no attribute 'title'

In [7]:
def info(firstname, lastname, phone):
    print("First name: %s" % firstname.title())
    print("Last name: %s" % lastname.title())
    print("Age: %d" % phone)

In [8]:
# Keyword argument
info(phone=1234567890, lastname='lannister', firstname='tyrion')

First name: Tyrion
Last name: Lannister
Age: 1234567890

In [9]:
# Mixing positional arguments with keyword arguments
info('tyrion', phone=1234567890, lastname='lannister')

First name: Tyrion
Last name: Lannister
Age: 1234567890

In [10]:
info('tyrion', 'lannister')

TypeError: info() missing 1 required positional argument: 'phone'

In [11]:
# Setting a default argument
def info2(firstname, lastname, phone=1234567890):
    # Note: a non-default argument cannot follow a defaulr argument
    print("First name: %s" % firstname.title())
    print("Last name: %s" % lastname.title())
    print("Age: %d" % phone)

In [12]:
info2('tyrion', 'lannister')

First name: Tyrion
Last name: Lannister
Age: 1234567890

### Classes

In [13]:
import numpy as np

In [14]:
class Robot:
    def __init__(self):
        self.x = 0
        self.y = 0
        
    def move_up(self, increase):
        self.y = self.y + increase
        
    def move_down(self, decrease):
        self.y = self.y - decrease
    
    def move_right(self, increase):
        self.x = self.x + increase
        
    def move_left(self, decrease):
        self.x = self.x - decrease
        
    def calc_distance(self):
        # From Pythagora's Theorem
        distance = ( np.abs(self.x)**2 + np.abs(self.y)**2 )**0.5
        return distance

In [15]:
myRobot = Robot()

In [16]:
myRobot

In [17]:
myRobot.move_up(2)
myRobot.move_right(3)
myRobot.move_left(2)
myRobot.move_down(6)
myRobot.calc_distance()

4.123105625617661

In [18]:
myRobots = []

for i in range(0,4):
    myrobot = Robot()
    myRobots.append(myRobot)

In [19]:
myRobots

[<__main__.Robot at 0x110d303c8>,
 <__main__.Robot at 0x110d303c8>,
 <__main__.Robot at 0x110d303c8>,
 <__main__.Robot at 0x110d303c8>]

In [20]:
import datetime
import pandas as pd

In [21]:
class BeautyInsider: 
    def __init__(self, name, points, birthday,
                 purchasetoday=0, redeemedpoints=0, rinvitation='No', rmonthlygift='No',
                 rbirthdaygift='No'):
        self.name = name
        self.points = points
        self.birthday = birthday
        self.purchasetoday = purchasetoday
        self.redeemedpoints = redeemedpoints
        self.rinvitattion = rinvitation
        self.rmonthlygift = rmonthlygift
        self.rbirthdaygift = rbirthdaygift
    
    def add_points(self):
        self.points = self.points + self.purchasetoday - self.redeemedpoints
        return self.points
        
    def get_birthday(self):
        if self.birthday == datetime.datetime.now().month\
        and self.rbirthdaygift == 'No':
            self.rbirthdaygift = 'Yes'
            return "Say 'Happy Birthday, {}' and give birthday gift".format(self.name)
        else:
            return 'Do not send birthday gift to {}'.format(self.name)
    
    def monthly_gift(self):
        if self.points >= 350 and self.rmonthlygift == 'No':
            self.rmonthlygift = 'Yes'
            return 'Send monthly gift'
        else:
            return "Do not send monthly gift"
    
    def invitation(self):
        if self.points >= 1000 and self.rinvitattion == 'No':
            self.rbirthdaygift = 'Yes'
            return 'Send invitation'
        else:
            return 'Do not send invitation'
        
        
    def print_summary(self):
        summary = pd.DataFrame({'Benefits':['Total points', 'Birthday gift',
                                            'Monthly gift', 'Invitation'],
                                'Instructions': [self.add_points(), self.get_birthday(),
                                                 self.monthly_gift(), self.invitation()]})
        return summary

In [22]:
myBI = BeautyInsider('Dami', 500, 5, 200)

In [23]:
myBI.print_summary()

        Benefits                                       Instructions
0   Total points                                                700
1  Birthday gift  Say 'Happy Birthday, Dami' and give birthday gift
2   Monthly gift                                  Send monthly gift
3     Invitation                             Do not send invitation

In [24]:
df = pd.read_csv('sephora_shoppers.csv')

In [25]:
df

,Birthday_Month,Name,Points,Received_Birthday_Gift,Received_Invite,Received_Monthly_Gift,Redeemed_Points,Todays_Purchase
0,6,Jon,695,No,Yes,No,0,430
1,11,Tywin,264,No,No,No,100,45
2,1,Daenerys,887,No,No,No,0,98
3,7,Arya,70,No,No,No,50,121
4,5,Jamie,942,Yes,No,No,0,77
5,5,Cersei,300,No,No,No,0,256

In [26]:
InsiderStatus = []

for i in range(len(pd.DataFrame(df))):
    myBI = BeautyInsider(df.iloc[i][1], df.iloc[i][2], df.iloc[i][0], 
                         df.iloc[i][7], df.iloc[i][6], df.iloc[i][4], 
                         df.iloc[i][5], df.iloc[i][3])
    InsiderStatus.append(myBI.print_summary())

In [27]:
InsiderStatus

[        Benefits                      Instructions
 0   Total points                              1125
 1  Birthday gift  Do not send birthday gift to Jon
 2   Monthly gift                 Send monthly gift
 3     Invitation            Do not send invitation,
         Benefits                        Instructions
 0   Total points                                 209
 1  Birthday gift  Do not send birthday gift to Tywin
 2   Monthly gift            Do not send monthly gift
 3     Invitation              Do not send invitation,
         Benefits                           Instructions
 0   Total points                                    985
 1  Birthday gift  Do not send birthday gift to Daenerys
 2   Monthly gift                      Send monthly gift
 3     Invitation                 Do not send invitation,
         Benefits                       Instructions
 0   Total points                                141
 1  Birthday gift  Do not send birthday gift to Arya
 2   Monthly gift           Do not send monthly gift
 3     Invitation             Do not send invitation,
         Benefits                        Instructions
 0   Total points                                1019
 1  Birthday gift  Do not send birthday gift to Jamie
 2   Monthly gift                   Send monthly gift
 3     Invitation                     Send invitation,
         Benefits                                       Instructions
 0   Total points                                                556
 1  Birthday gift  Say 'Happy Birthday, Cersei' and give birthday...
 2   Monthly gift                                  Send monthly gift
 3     Invitation                             Do not send invitation]